.mySlide{
    background: url();
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        padding: 0;
        position: relative;
        height: 83vh;
        // padding-top: 50px;
        overflow: hidden;
    
        
        &__back{
            position: absolute;
            width: 100vw;
            height: 100px;
            // background: rgba(0, 0, 0, 0.24);
            opacity: 0.2;
            &__img{
                width: 100%;
                position: absolute;
            }
            @media screen and (max-width:1512px) {
              &__img{
                width: 100%;
                position: absolute;
                height: 1000px;
            }
            }
        }
        
}


#app { height: 100% }
html,
body {
  position: relative;
  height: 100vh;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
//   background: transparent!important;
    // box-shadow: none;
  
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.myImg{
    margin-top: auto;
    margin-bottom: 20px;
    width: 65%!important;
    height: 90%!important;
    border-radius: 20px;
}

.myDiv{
    margin-top: 50px;
    width: 30%;
    text-align: left;
    margin-right: 50px;
    & > h4{
        display: flex;
        font-weight: 800;
        align-items: center;
        color: #333333;
        margin-bottom: 20px;
        line-height: 30px;
    }
    & > p{
        // height: 250px;
        overflow: hidden;
        font-weight: 400;
        display: flex;
        align-items: center;
        color: #19191b;
        font-size: 20px;
    }
}


.mySwiper{
  background: transparent!important;
  height: 80vh!important;

}

.mySwiperSlide{
  background-color: transparent!important;
  box-shadow: none!important;
}